
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:title" content="Your Page Title">
  <meta property="og:description" content="A brief description of your page">
  <!-- <meta property="og:image" content="https://example.com/path/to/your-image.jpg">
  <meta property="og:url" content="https://example.com/page-url">
  <meta property="og:type" content="website"> -->

  <!-- Optional: Additional Open Graph Tags -->
  <meta property="og:site_name" content="Your Site Name">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Social Auth</title>
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Social Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"
          ><span class="fa fa-google"></span> Sign Up with Google</a
        >
        <br />
        <br />

        <a href="/auth/facebook" class="btn btn-warning"
          ><span class="fa fa-facebook"></span> Sign Up with Facebook</a
        >

        <br />
        <br />

        <a href="/auth/github" class="btn btn-dark"
          ><span class="fa fa-github"></span> Sign Up with Github</a
        >
      </div>
    </div>
  </body>
</html>
